@media only screen and (max-width: 1210px) {
    .container {
        padding: 0 10px;
    }

    .goods-section .goods-list .item {
        margin: auto;
    }

    .blog-section .container .blog {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

    }

    .blog-section .container .blog article {
        margin-bottom: 30px;
    }

    .blog-section {
        margin-bottom: 70px;
    }

    main .goods-section .pagination ul {
        padding-right: 10px;
    }

    main .goods-header .sort-by {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 790px) {
    main .welcome .container .welcome-image {
        display: none;
    }

    header .main-nav .third-ul {
        top: -25px;
        left: -56px;
    }
}

@media only screen and (max-width: 660px) {
    header .container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .main-nav {
        padding: 0 25px;
        order: 1;
        margin-top: 20px;
    }

}

@media only screen and (max-width: 840px) {
    main .goods-section .goods-list .goods-header {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    main .goods-header .sort-by {
        padding: 0 25px;
    }

    main .goods-section .goods-list .goods-header ul {
        margin-bottom: 20px;
    }

    footer .news-section .container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer .news-section .email-form {
        margin-top: 28px;
    }

    footer .news-section .news .topic:last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width: 1070px) {
    main .special-offers-section .container {
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    main .special-offers-section .article {
        margin-left: 0;
    !important;
    }

    main .special-offers-section {
        margin-bottom: 118px;
    }

    main .special-offers-section .article {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 820px) {
    footer .contacts-section .container {
        padding-top: 25px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer .contacts-section .contact {
        padding: 0 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 620px) {
    main .goods-section {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    main .goods-section .sidebar {
        margin-right: 0;
        margin-bottom: 65px;
    }

    main .goods-section .sidebar h3 {
        text-align: center;
        margin-left: 0;
    }

    main .goods-section .sidebar .categories {
        display: inline-flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }

    main .goods-section .sidebar .categories li {
        min-width: 140px;
    }

    main .goods-section .sidebar .categories li a {
        margin-left: 0;
    }

    main .goods-section .sidebar ul {
        margin-bottom: 20px;
    }

    main .goods-section .sidebar .categories {
        margin-right: 20px;
    }

    main .goods-section .goods-list .goods-header {
        margin-bottom: 0;
    }


    main .goods-section .pagination ul {
        justify-content: center;
        padding-right: 0;
    }
}

@media only screen and (max-width: 930px) {
    footer .footer-navigation-section .container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    footer .footer-navigation-section .container .footer-navigation, .media-and-payment {
        margin-bottom: 20px;
        margin-right: 20px;

    }

    footer .footer-navigation:nth-child(1) {
        order: 50
    }

    footer .footer-navigation:nth-child(2) {
        order: 100;
    }

    footer .footer-navigation:nth-child(3) {
        order: 75;
    }
}

@media only screen and (max-width: 580px) {
    main .special-offers-section .article {
        flex-direction: column;
        padding-right: 0;
    }

    main .special-offers-section .article .info h3 {
        text-align: center;
    }

    main .special-offers-section .article .info p {
        text-align: center;
    }


    main .special-offers-section .article .info {
        max-width: 287px;
        padding: 15px;
    }

    main .special-offers-section .article .info .find-more-btn {
        margin-right: calc(50% - 70px);
    }
}

