@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family: "Cera Pro", sans-serif;
    --second-family: "Hanging Letters", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    position: relative;
}

.preloader {
    position: absolute;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: #52c368;
    animation: load-animation 0.8s 2.5s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes load-animation {
    0% {
        width: 100%;
        height: 100%;
        background-color: #46A358;
    }

    100% {
        display: none;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid rgba(17, 177, 0, 0.66);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal {
    font-family: 'cera_round_pro_demoregular', serif;
    max-width: 500px;
    margin: auto;
    padding-top: 52px;
}

.modal .title {
    text-align: center;
    margin-bottom: 40px;
}

.modal .title a {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
}

.modal .title a:hover {
    color: #46a358;
}

.modal .title span {
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 0 11px;
}

.login-text {
    margin-left: 100px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}

.modal .login-form {
    margin-bottom: 20px;
}

.modal .login-form div input {
    width: 300px;
    height: 40px;
    margin: 0 0 16px 100px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding-left: 14px;
}

.confirm-password {
    margin-bottom: 41px !important;
}

.modal .login-form div input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-left: 14px;
}

.register-submit input {
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}

.modal .external-register-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 27px;
}

.modal .external-register-text .line {
    border: 1px solid #eaeaea;
    width: 97px;
    height: 0;
}

.modal .external-register-text .text {
    padding: 0 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;

    color: #3d3d3d;
}

.modal .external-login {
    display: block;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: 0 0 15px 100px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
}

.container {
    font-family: 'cera_round_pro_demoregular', serif;
    max-width: 1200px;
    margin: auto;
}

header {
    padding-top: 26px;
    max-width: 1200px;
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
}

header .login_btn {
    border-radius: 6px;
    background: #46a358;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: 1s;
}

header .login_btn img {
    margin-right: 4px;
}

header .login_btn:hover {
    background-color: rgba(38, 177, 0, 0.66);
}

header .main-nav .first-ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header .main-nav .second-ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

header .main-nav .first-li {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    position: relative;
}

header .main-nav .first-li > a {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    transition: all 1s;
}

header .main-nav .first-li:hover > a {
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
}

header .main-nav .first-li:hover .second-ul {
    visibility: visible;
    opacity: 1;
    margin-top: 40px;
}

header .main-nav .first-li .second-ul {
    text-align: left;
    min-width: 188px;
    position: absolute;
    top: -25px;
    left: -56px;
}

header .main-nav .dropdown-li {
    background-color: #edf6ee;
    padding: 8px 0 8px 14px;
}

header .main-nav .dropdown-li > a {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}

header .main-nav .second-li {
    padding: 8px 0 8px 14px;
    position: relative;
}

header .main-nav .additional-dropdown::after {
    content: url("../images/ui-elements/dropdown-cursor.svg");
    display: inline;
    position: absolute;
    right: 17px;
    width: 10px;
    height: 6px;
    margin-left: 30px;
}

header .main-nav .second-li:hover > a {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

header .main-nav .additional-dropdown:hover::after {
    content: url("../images/ui-elements/dropdown-cursor-white.svg");
    display: inline;
    position: absolute;
    right: 17px;
    width: 10px;
    height: 6px;
    margin-left: 30px;
}

header .main-nav .second-li:hover {
    background-color: #1a712a;
}

header .main-nav .first-li .second-ul .second-li:first-child {
    margin-top: 45px;
}

header .main-nav .third-ul {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    left: 189px;
    top: -98px;
    width: 178px;
}

header .main-nav .second-li:hover .third-ul {
    visibility: visible;
    opacity: 1;
}

header .main-nav .second-li:active {
    background-color: #1a712a;
}

main {
    font-family: 'cera_round_pro_demoregular', serif;
    padding-top: 12px;
    max-width: 1200px;
    margin: auto;
}

main .welcome .container {
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    padding-left: 40px;
    display: flex;
}

main .welcome .container .message {
    padding-top: 68px;
    max-width: 693px;
}

main .welcome .container .welcome-to-green-shop {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
}

main .welcome .container .message h1 {
    font-family: var(--font-family), serif;
    display: inline;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}

main .welcome .container .message h1 .planet {
    color: #46A358;
}

main .welcome .container .message .description {
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
}

main .welcome .container .shop-btn {
    border-radius: 6px;
    padding: 11px 26px 0;
    height: 40px;
    margin-bottom: 85px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    background: #46a358;
    display: inline-flex;
    transition: 1s;
}

main .welcome .container .shop-btn:hover {
    background-color: rgba(38, 177, 0, 0.66);
}

main .welcome .container .welcome-image img {
    width: 507px;
    height: 450px;
    left: 693px;
}

main .goods-section {
    margin-top: 46px;
    margin-bottom: 94px;
    display: flex;
}

main .goods-section .sidebar {
    max-width: 310px;
    padding-top: 14px;
    margin-right: 50px;
    display: flex;
    background-color: #FBFBFB;
    flex-direction: column;
}

main .goods-section .sidebar h3 {
    font-family: var(--font-family), serif;
    margin-left: 18px;
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}

main .goods-section .sidebar ul {
    margin-bottom: 377px;
}

main .goods-section .sidebar .categories li a {
    font-family: var(--font-family), serif;
    margin-left: 30px;
    font-weight: 400;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 267%;
}

main .goods-section .sidebar .categories li a:hover {
    font-family: var(--font-family), serif;
    margin-left: 30px;
    font-weight: 700;
    font-size: 15px;
    line-height: 267%;
    color: #46a358;
}

main .goods-section .goods-list .goods-header {
    max-width: 840px;
    display: flex;
    margin-bottom: 31px;
    justify-content: space-between;
}

main .goods-section .goods-list .goods-header ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

main .goods-section .goods-list .goods-header ul li {
    padding-bottom: 7px;
    border-bottom: 2px solid #ffffff;

}

main .goods-section .goods-list .goods-header ul li:hover {
    border-bottom: 2px solid #46a358;

}

main .goods-section .goods-list .goods-header ul a {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

main .goods-section .goods-list .goods-header li:hover a {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
}

main .goods-header .sort-by {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 15px;
    display: inline-flex;
    line-height: 107%;
    color: #3d3d3d;
}

main .goods-header .sort-by p {
    margin-right: 5px;
}

.goods-section .goods-list .goods {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
    max-width: 840px;
    column-gap: 33px;
    row-gap: 70px;
}

.goods-section .goods-list .item {
    padding: 23px 4px 0;
    border-top: 1px solid #ffffff;
    flex-direction: column;
    position: relative;
    transition: all 0.5s;
}

.goods-section .goods-list .item:hover {
    border-top: 1px solid #46a358;

}

.goods-section .goods-list .item .item-hover {
    width: 125px;
    height: 35px;
    visibility: hidden;
    opacity: 0;
    display: inline-flex;
    justify-content: space-between;
    padding: 8px 6px;
    position: absolute;
    bottom: 57px;
    left: calc(50% - 63px);
    transition: 0.5s;
}

.goods-section .goods-list .item:hover .item-hover {
    visibility: visible;
    opacity: 1;
}

.goods-section .goods-list .item-hover svg:hover path {
    fill: #46A358;
}

.goods-section .goods-list .item .discount {
    display: block;
    font-family: var(--font-family), serif;
    background: #46a358;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    height: 29px;
    padding: 7px 8px;
    position: absolute;
    left: 0;
    top: 14px;
}

.goods-section .goods-list .goods .item .item-image {
    background-color: #fbfbfb;
    margin-bottom: 31px;
    height: 250px;
    width: 250px;
}

.goods-section .goods-list .goods .item .name {
    display: block;
    font-family: var(--font-family), serif;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}

main .goods-section .goods-list .goods .item .price {
    display: block;
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}

main .goods-section .goods-list .goods .item .price .old-price {
    font-family: var(--font-family), serif;
    margin-left: 16px;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
}

main .goods-section .pagination ul {
    display: flex;
    justify-content: flex-end;
}

main .goods-section .pagination ul li {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding-top: 9px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

main .goods-section .pagination ul li:hover {
    background-color: #46a358;
}

main .goods-section .pagination ul li:hover a {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
}

main .goods-section .pagination ul li:hover img {
    color: #e5e5e5;
}

main .goods-section .pagination ul li:last-child {
    margin-right: 0;
}

main .goods-section .pagination ul li a {
    font-family: var(--font-family), serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    display: block;
    text-align: center;
}

main .special-offers-section {
    margin-bottom: 138px;
}

main .special-offers-section .container {
    display: flex;
    justify-content: space-between;
}

main .special-offers-section .article img {
    width: 287px;
    height: 292px;
}

main .special-offers-section .article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 586px;
    padding-right: 32px;
    background: #fbfbfb;
    text-align: right;
}

main .special-offers-section .article .info h3 {
    font-family: var(--font-family), serif;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 9px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
}

main .special-offers-section .article .info p {
    font-family: var(--font-family), serif;
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
}

main .special-offers-section .article .info .find-more-btn {
    padding-top: 11px;
    padding-left: 28px;
    display: inline-flex;
    border-radius: 6px;
    width: 140px;
    height: 40px;
    color: #fff;
    font-family: var(--font-family), serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    background: #46a358;
    transition: 1s;
}

main .special-offers-section .article .info .find-more-btn:hover {
    background-color: rgba(38, 177, 0, 0.66);
}

main .special-offers-section .article .info .find-more-btn img {
    margin-left: 2px;
    height: 18px;
    width: 18px;
}

.blog-section {
    margin-bottom: 100px;
}

.blog-section .container h2 {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}

.blog-section .container .blog-paragraph {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}

.blog-section .container .blog {
    display: flex;
    justify-content: space-between;
}

.blog-section .container .blog article {
    max-width: 268px;
    background: #fbfbfb;
}

.blog-section .container .blog article > *:not(.blog-image) {
    margin-left: 13px;
}

.blog-section .container .blog .blog-image img {
    width: 268px;
    height: 195px;
    margin-bottom: 9px;
}

.blog-section .container .blog .article-date {
    font-family: var(--font-family), serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    margin-bottom: 4px;
    color: #46a358;
}

.blog-section .container .blog h3 {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin-bottom: 4px;
}

.blog-section .container .blog .description {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 9px;
}

.blog-section .container .blog .read-more {
    font-family: var(--font-family), serif;
    display: inline-flex;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
}

.blog-section .container .blog .read-more:hover {
    font-family: var(--font-family), serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}

.blog-section .container .blog .read-more:hover svg path {
    fill: #46a358;
}


.blog-section .container .blog .read-more svg {
    margin-left: 5px;
}

footer .news-section .container {
    background-color: #fbfbfb;
}

footer .news-section .container {
    padding-bottom: 25px;
}

footer .news-section .container {
    padding-top: 25px;
    padding-left: 25px;
    display: flex;
}

footer .news-section .news {
    display: flex;
}

footer .news-section .news .topic {
    position: relative;
    margin-right: 61px;
    max-width: 204px;
}

footer .news-section .news .topic::after {
    content: '';
    position: absolute;
    left: calc(100% + 30px);
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(70, 163, 88, 0.1);
}

footer .news-section .news .topic:last-child::after {
    display: none;
}

footer .news-section img {
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
}

footer .news-section h3 {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    margin-bottom: 9px;
}

footer .news-section .topic p {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
}

footer .news-section .email-form {
    max-width: 354px;
    padding-top: 13px;
}

footer .news-section .email-form h3 {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 25px;
}

footer .news-section .email-form form {
    display: flex;
    margin-bottom: 18px;
}

footer .news-section .email-form form input {
    border: white;
    height: 40px;
}

footer .news-section .email-form form .news-email-input {
    border-radius: 6px 0 0 6px;
    width: 269px;
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #acacac;
    padding-left: 11px;
}

footer .news-section .email-form form .news-email-input:active {
    border: white;
}

footer .news-section .email-form form .submit-news-email {
    border-radius: 0 6px 6px 0;
    width: 85px;
    background-color: #46a358;
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    transition: 1s;
}

footer .news-section .email-form form .submit-news-email:hover {
    background-color: rgba(38, 177, 0, 0.66);;
}

footer .news-section .email-form p {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
}

footer .contacts-section .container {
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
}

footer .contacts-section .contact span {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
}

footer .contacts-section .contact a {
    display: inline-flex;
    max-width: 205px;
    gap: 9px;
}

footer .footer-navigation-section .container {
    display: flex;
    padding: 33px 0 27px 25px;
    background-color: #fbfbfb;
    border-bottom: 1px solid rgba(70, 163, 88, 0.2);;
}

footer .footer-navigation:nth-child(1) {
    margin-right: 164px;
}

footer .footer-navigation:nth-child(2) {
    margin-right: 129px;
}

footer .footer-navigation:nth-child(3) {
    margin-right: 173px;
}

footer .footer-navigation li a {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
}

footer .footer-navigation-section h3 {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 8px;
}

footer .media-and-payment .social-media-title {
    margin-bottom: 20px;
}

footer .media-and-payment ul {
    display: inline-flex;
    gap: 10px;
}

footer .media-and-payment .media {
    margin-bottom: 33px;
}

footer .media-and-payment .payment h3 {
    margin-bottom: 13px;
}

footer .media-and-payment .payment img {
    width: 224px;
    height: 26px;
}

footer section:last-of-type {
    margin-bottom: 6px;
}

footer > p {
    text-align: center;
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    margin-bottom: 10px;
}


.border-top-animate {
    width: 200px;
    height: 100px;
    position: relative;
    border: none;
    padding: 20px;
    box-sizing: border-box;
}

.border-top-animate::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: black;
    animation: borderTopAnimation 1s forwards;
}

@keyframes borderTopAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

