@font-face {
    font-family: 'cera_round_pro_demoregular';
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot');
    src: url('../fonts/ceraroundprodemo-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff2') format('woff2'),
    url('../fonts/ceraroundprodemo-regular-webfont.woff') format('woff'),
    url('../fonts/ceraroundprodemo-regular-webfont.ttf') format('truetype'),
    url('../fonts/ceraroundprodemo-regular-webfont.svg#cera_round_pro_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family: "Cera Pro", sans-serif;
    --second-family: "Hanging Letters", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modal {
    font-family: 'cera_round_pro_demoregular', serif;
    max-width: 500px;
    margin: auto;
    padding-top: 52px;
}

.modal .title {
    text-align: center;
    margin-bottom: 40px;
}

.modal .title a {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    text-decoration: none;
}

.modal .title a:hover {
    color: #46a358;
}

.modal .title span {
    font-weight: 250;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin: 0 11px;
}

.login-text {
    margin-left: 100px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}

.modal .login-form div input {
    width: 300px;
    height: 40px;
    margin: 0 0 16px 100px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding-left: 14px;
}

.confirm-password {
    margin-bottom: 41px !important;
}

.modal .login-form div input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    margin-left: 14px;
}

.register-submit input {
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}

.modal .external-register-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .external-register-text .line {
    border: 1px solid #eaeaea;
    width: 97px;
    height: 0;
}

.modal .external-register-text .text {
    padding: 0 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    margin-bottom: 27px;
    color: #3d3d3d;
}

.modal .external-login {
    display: block;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    margin: 0 0 15px 100px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
}

.container {
    font-family: 'cera_round_pro_demoregular', serif;
    max-width: 1200px;
    margin: auto;
}

header {
    padding-top: 26px;
    max-width: 1200px;
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
}


header .container .login_btn {
    border-radius: 6px;
    background: #46a358;
    padding: 7px 17px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

header .container .main-nav ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

header .container .main-nav ul li {
    margin: 0 25px 0 25px;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}

header .container .main-nav ul a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}

header .container .main-nav ul li:last-child {
    margin-right: 0;
}

header .container .main-nav ul li:first-child {
    margin-left: 0;
}

header .container .main-nav ul li a:hover {
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
}

main {
    font-family: 'cera_round_pro_demoregular', serif;
    padding-top: 12px;
    max-width: 1200px;
    margin: auto;
}

main .welcome .container {
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
    padding-left: 40px;
    display: flex;
}

main .welcome .container .message {
    padding-top: 68px;
    max-width: 693px;
}

main .welcome .container .welcome-to-green-shop {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
}

main .welcome .container .message h1 {
    font-family: var(--font-family), serif;
    display: inline;
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
}

main .welcome .container .message h1 .planet {
    color: #46A358;
}

main .welcome .container .message .description {
    margin-bottom: 44px;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
}

main .welcome .container .shop-btn {
    border-radius: 6px;
    padding: 11px 26px 0;
    height: 40px;
    margin-bottom: 85px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    background: #46a358;
    display: inline-flex;
    text-decoration: none;
}

main .welcome .container .welcome-image img {
    width: 507px;
    height: 450px;
    left: 693px;
}

main .goods-section {
    margin-top: 46px;
    margin-bottom: 94px;
    display: flex;
}

main .goods-section .sidebar {
    max-width: 310px;
    padding-top: 14px;
    margin-right: 50px;
    display: flex;
    background-color: #FBFBFB;
    flex-direction: column;
}

main .goods-section .sidebar h3 {
    font-family: var(--font-family), serif;
    margin-left: 18px;
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}

main .goods-section .sidebar ul {
    margin-bottom: 377px;
}

main .goods-section .sidebar .categories li {

}

main .goods-section .sidebar .categories li a {
    text-decoration: none;
    font-family: var(--font-family), serif;
    margin-left: 30px;
    font-weight: 400;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 267%;
}

main .goods-section .sidebar .categories li a:hover {
    font-family: var(--font-family), serif;
    margin-left: 30px;
    font-weight: 700;
    font-size: 15px;
    line-height: 267%;
    color: #46a358;
}

main .goods-section .goods-list .goods-header {
    max-width: 840px;
    display: flex;
    margin-bottom: 31px;
    justify-content: space-between;
}

main .goods-section .goods-list .goods-header ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

main .goods-section .goods-list .goods-header ul a {
    font-family: var(--font-family), serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}

main .goods-section .goods-list .goods-header ul a:hover {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
}

main .goods-header .sort-by {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 15px;
    display: inline-flex;
    line-height: 107%;
    color: #3d3d3d;
}

main .goods-header .sort-by p {
    margin-right: 5px;
}

main .goods-section .goods-list .goods {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;
    max-width: 840px;
    column-gap: 33px;
    row-gap: 70px;
}

main .goods-section .goods-list .goods .item {
    padding: 23px 4px 0;
    flex-direction: column;
}

main .goods-section .goods-list .goods .item a {
    text-decoration: none;
}

main .goods-section .goods-list .goods .item img {
    background-color: #fbfbfb;
    margin-bottom: 31px;
    height: 250px;
    width: 250px;
}

main .goods-section .goods-list .goods .item .name {
    display: block;
    font-family: var(--font-family), serif;
    text-decoration: none;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
}

main .goods-section .goods-list .goods .item .price {
    display: block;
    font-family: var(--font-family), serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
}

main .goods-section .pagination ul {
    display: flex;
    justify-content: flex-end;
}

main .goods-section .pagination ul li {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding-top: 9px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

main .goods-section .pagination ul li:hover {
    background-color: #46a358;
}

main .goods-section .pagination ul li:hover a {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
}

main .goods-section .pagination ul li:hover img {
    color: #e5e5e5;
}

main .goods-section .pagination ul li:last-child {
    margin-right: 0;
}

main .goods-section .pagination ul li a {
    font-family: var(--font-family), serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    display: block;
    text-align: center;
    text-decoration: none;
}

main .special-offers-section {
    margin-bottom: 138px;
}

main .special-offers-section .container {
    display: flex;
    justify-content: space-between;
}

main .special-offers-section .article img {
    width: 287px;
    height: 292px;
}

main .special-offers-section .article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 586px;
    padding-right: 32px;
    background: #fbfbfb;
    text-align: right;
}

main .special-offers-section .article .info h3 {
    font-family: var(--font-family), serif;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 9px;

    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
}

main .special-offers-section .article .info p {
    font-family: var(--font-family), serif;
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
}

main .special-offers-section .article .info .find-more-btn {
    padding-top: 11px;
    padding-left: 28px;
    display: inline-flex;
    border-radius: 6px;
    text-decoration: none;
    width: 140px;
    height: 40px;
    color: #fff;
    font-family: var(--font-family), serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    background: #46a358;
}

main .special-offers-section .article .info .find-more-btn img {
    margin-left: 2px;
    height: 18px;
    width: 18px;
}

.blog-section .container h2 {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    margin-bottom: 15px;
}

.blog-section .container .blog-paragraph {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #727272;
    margin-bottom: 35px;
}

.blog-section .container .blog {
    display: flex;
    justify-content: space-between;
}

.blog-section .container .blog article {
    max-width: 268px;
    background: #fbfbfb;
}

.blog-section .container .blog article > *:not(.blog-image) {
    margin-left: 13px;
}

.blog-section .container .blog .blog-image img {
    width: 268px;
    height: 195px;
    margin-bottom: 9px;
}

.blog-section .container .blog .article-date {
    font-family: var(--font-family), serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    margin-bottom: 4px;
    color: #46a358;
}

.blog-section .container .blog h3 {
    font-family: var(--font-family), serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    margin-bottom: 4px;
}

.blog-section .container .blog .description {
    font-family: var(--font-family), serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    margin-bottom: 9px;
}

.blog-section .container .blog .read-more {
    font-family: var(--font-family), serif;
    display: inline-flex;
    text-decoration: none;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
}

.blog-section .container .blog .read-more:hover {
    font-family: var(--font-family), serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
}

.blog-section .container .blog .read-more:hover svg path {
    fill: #46a358;
}


.blog-section .container .blog .read-more svg {
    margin-left: 5px;
}
